body {
  padding: 50px;
  font: 14px "Verdana", Helvetica, Arial, sans-serif;
  background-color:yellow;
}

img {
  width:200px; height:100px;
}
h1{
	color:red;font-size:2em;font-weight:800;
}

#movieid{
	width:30px;
}
table:last-child{
	border-collapse:collapse;
	width:400px;
	border:1px solid black;
}