extends layout

block content
  h1= title
  
  
    p
     input (type="button", id='bgetall',value="GET ALL")
     input (type="text", id='textf')
     input (type="button", id='bgetone', value="GET ONE")
     input (type="button",id='bpost',value="POST")
     input (type="button",id='bput',value="PUT")
     input (type="button",id='bdelete',value="DELETE")
    
  script.
   
      
      